html{
    background-color: #f6f8f8;
}

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;
    min-width: 320px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
}

h1,h2,h3,h4,h5,h6,.h7{
    font-family: 'Alice', serif;
}

a{
    text-decoration-line: none;
}

#home{
    border-top: 10px solid #7C898B;
    border-bottom: 10px solid #7C898B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 10% 0;
    margin: 0;
}

.profile{
    text-align: center;
    width: 280px;
}

.profile img{
    border-top-right-radius: 47%;
    border-top-left-radius: 47%;
    border:1px solid #253439;
    width: 280px;
}

.profile h1{
    font-weight: 400;
    color: #253439;
    font-size: 35px;
    margin: 8% 0 5% 0;
}

.profile h2{
    color:#253439;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 6%;
}

#home .buttons{
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.buttons a{
    text-align: center;
    background-color: #253439;
    color: white;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    border: 2px solid #253439;
    padding: 8px;
}

.buttons a:hover{
    background-color: white;
    color: #253439;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

h3{
    margin: 12% 0 0 0;
    font-size: 25px;
    font-weight: 400;
}

#home .about{
    width: 87%;
}

#home .about h3{
    color: #253439;
    text-align: center;
    padding-top: 9%;
    border-top: 1px solid #253439;
}

#home .about p{
    color: #253439;
    text-align: justify;
    line-height: 1.5;
}

#home .about .buttons{
    justify-content: space-between;
}

#home .about .buttons a{
    text-align: center;
}

#resume{
    color: #F6F4F1;
    background-color: #253439;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 10% 0;
    border-bottom: 10px solid #7C898B;
}

.xp, .skills{
    width: 87%;
}

#resume .xp h3{
    margin-top: 0;
}

#resume .skills h3{
    padding-top: 9%;
    border-top: 1px solid white;
}

h4{
    font-weight: 600;
    margin: 6% 0 2% 0;
    color: white;
}

#resume p{
    margin: 0;
}

#portfolio{
    text-align: center;
    background-color: white;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid #7C898B;
}

h5{
    color: #253439;
    margin: 0;
    font-weight: 400;
    margin-bottom: -5%;
    font-size: 33px;
}

#portfolio .proj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 87%;
    gap:5%;
}

#portfolio .proj .project{
    margin-top: 15%;
    text-align: center;
    background-color: #253439;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

#portfolio .proj .project img{
    width:100%;
}

h6{
    font-weight: 600;
    letter-spacing: 1.26px;
    margin: 0;
    color: white;
    font-size: 16px;
    padding: 2% 0 3% 0;
}

#portfolio p{
    color: white;
    font-size: 14px;
    margin: 0;
    width: 95%;
    padding: 0 2.5%;
}

#portfolio .buttons{
    margin: 6% 0 2% 0;
    height: 36px;
}

#portfolio .buttons a{
    border-color: white;
    color: white;
}

#portfolio .buttons a:hover{
    background-color: white;
    color: #253439;
}

#contact{
    background-color: #423E3A;
    border-bottom: 10px solid #7C898B;
    text-align: center;
    padding: 10% 0;
}

#contact .h7{
    color: white;
    font-size: 55px;
    margin: 0 0 15% 0;
}

#contact .contactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contactInfo .info{
    color: white;
    text-align: left;
    font-size: 14px;
}

#contact .profile{
    margin: 0;
    padding: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .profile h1{
    color: white;
}

#contact .profile img{
    border-radius: 50%;
}

#contact .profile .buttons{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 6.5% 11% 0 4%;
}

#contact .profile .buttons a{
    background-color: white;
    color: #253439 !important;
    justify-content: center;
    align-items: center;
    border: 3px solid #253439;
    margin-top: 1.5%;
}

#contact .profile .buttons a:hover{
    background-color: #423E3A;
    color: white !important;
    border: 3px solid white;
}

.footer{
    background:#253439;
    text-align:center;
    padding: 5% 0;
}
    
.footer .row{
    width:100%;
    padding:0 0 4% 0%;
    color:#7C898B;
    font-size: 12px;
}
    
.footer .row a{
    color:#7C898B;
    transition:0.5s;
    font-size: 20px;
    padding: 0 2%;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
}
    
.footer .row a i{
    margin:0% 1%;
}

@media (min-width:641px)  {
    #home{
        padding: 5% 0;
    }

    #home .about{
        width: 94%;
    }

    #home .about h3{
        margin-top: 7%;
        padding-top: 5%;
    }

    #home .about .buttons{
        justify-content: space-around;
    }

    #home .about .buttons a{
        width: 35%;
    }

    #resume{
        padding: 5% 3%;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    h3{
        font-size: 30px;
    }

    .skills, .xp{
        width: 47%;
    }

    #resume .skills h3{
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    #portfolio{
        padding: 5% 3%;
    }

    #portfolio h5{
        font-size: 35px;
        margin: 0;
    }

    #portfolio .proj .project{
        margin-top: 5%;
    }

    h6{
        padding: 1% 0 1.5% 0;
    }

    #portfolio .buttons{
        margin: 4% 0 1% 0;
    }

    #contact{
        padding: 5% 2% 5% 3%;
        text-align: left;
    }

    #contact .h7{
        font-size: 60px;
    }

    #contact .contactInfo{
        flex-direction: row;
        justify-content: space-between;
        gap: 5%;
    }

    #contact .profile{
        padding-top: 0;
        margin-right:0;
    }

    #contact img{
        width: 75%;
    }

    #contact .buttons{
        width: 100%;
        padding: 6.5% 0 0 0;
    }

    .footer{
        padding: 3% 0 2% 0;
    }

    footer .row{
        padding: 0 0 1.5% 0 !important;
        font-size: 14px !important;
    }
}

@media (min-width:851px){
    #home{
        flex-direction: row;
        justify-content: space-between;
    }

    #home .profile{
        padding-left: 8%;
    }

    #home .about{
        width: 41%;
        padding-right: 6%;
    }

    #home .about h3{
        text-align: left;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    #home .about .buttons{
        justify-content: space-between;
    }

    #contact .profile .buttons a{
        font-size: 14px;
        padding: 15px;
    }

    #contact .contactInfo{
        gap:10%;
    }

    #contact .h7{
        font-size: 90px;
    }
}

@media (min-width:961px)  {
    #portfolio{
        padding: 3% 0 5% 0;
    }

    #portfolio .proj{
        width: 94%;
    }

    #portfolio .proj .project{
        width: 47%;
    }

    #contact{
        padding: 5% 4% 5% 5%;
    }

    #contact .h7{
        font-size: 100px;
    }
}
@media (min-width:1025px) {

    /* #resume{
        padding: 5% 0%;
    }

    .skills{
        margin-left: 3%;
        width: 20%;
    }

    .xp{
        margin-left: 3%;
        width: 20%;
    } */

    #resume h4{
        font-size: 18px;
    }

    #resume p, li{
        font-size: 18px;
    }
    
    #contact{
        padding: 5% 7% 5% 5%;
    }

    #contact img{
        width: 250px;
    }

    #contact .profile .buttons{
        width: 350px;
    }

    #contact .profile .buttons a{
        font-size: 15px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .row{
        font-size: 15px !important;
        padding: 1% !important;
        width: 90%;
    }

    .footer .row a{
        font-size: 30px !important;
    }
}
@media (min-width:1281px) {
    #home .profile{
        padding-left: 10%;
    }

    #home .about{
        padding-right: 11%;
        width: 36%;
    }

    #home .profile .buttons a, #home .about .buttons a{
        font-size: 15px;
    }

    #resume{
        padding: 3% 3%;
    }

    #resume h3{
        font-size: 40px;
    }

    #resume h4{
        font-size: 22px;
    }

    #resume p,li{
        font-size: 21px;
    }

    #portfolio h5{
        font-size: 45px;
    }

    #portfolio .proj .project{
        margin-top: 3.5%;
    }

    #contact{
        padding: 3% 9% 3% 5%;
    }

    #contact .h7{
        font-size: 120px;
        margin: 0 0 10% 0;
    }

    #contact h4{
        font-size: 20px;
    }

    #contact .contactInfo .info{
        font-size: 16px;
    }
}

@media (min-width:1401px){
    body{
        margin-top: 3%;
    }
}
