/* @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { /* hi-res laptops and desktops } */

html{
    background-color: #f6f8f8;
}

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1400px;/* Pour Résolution 4k augmenter taille Body*/
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
}

h1,h2,h3,h4,h5,h6,.h7{
    font-family: 'Alice', serif;
}

a{
    text-decoration-line: none;
}

#home{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    max-height: 56.25vw;
    padding: 0;
    margin: 0;
}

.profile{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile img{
    border-top-right-radius: 47%;
    border-top-left-radius: 47%;
    border:1px solid #253439;
}

.profile h1{
    font-weight: 400;
    color: #253439;
}

.profile h2{
    color:#253439;
    font-weight: 400;
}

#home .buttons{
    display: flex;
    flex-direction: row;
}

.buttons a{
    background-color: #253439;
    color: white !important;
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
}

.buttons a:hover{
    background-color: white;
    color: #253439 !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

h3{
    margin: 0;
    font-weight: 400;
}

#home .about h3{
    color: #253439;
}

#home .about p{
    color: #253439;
    text-align: justify;
    line-height: 1.5;
}

#home .about .buttons{
    justify-content: space-between;
}

#home .about .buttons a{
    text-align: center;
}

#resume{
    color: #F6F4F1;
    background-color: #253439;
    display: flex;
}

#resume h3{
    color: #F6F4F1;
    margin:0;
}

h4{
    font-weight: 600;
    margin: 0;
    color: white;
}

#resume p{
    margin: 0;
}

#portfolio{
    text-align: center;
    background-color: white;
}

h5{
    color: #253439;
    margin: 0;
    font-weight: 400;
}

#portfolio .proj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#portfolio .proj .project{
    text-align: center;
    background-color: #253439;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

h6{
    font-weight: 600;
    letter-spacing: 1.26px;
    margin: 0;
    color: white;
}

#portfolio p{
    color: white;
}

#portfolio .buttons a{
    border-color: white;
    color: white;
}

#portfolio .buttons a:hover{
    background-color: white;
    color: #253439;
}

/* INSPIRATION : https://laplaya.studio/*/

#contact{
    background-color: #423E3A;
}

#contact .h7{
    color: white;
}

#contact .contactInfo{
    display: flex;
}

#contact .contactInfo .info{
    color: white;
}

#contact div .profile{
    margin: 0;
    padding: 0;
    display: flex;
}

#contact .profile h1{
    color: white;
}

#contact .profile img{
    border-radius: 50%;
}

#contact .profile .buttons a{
    display: flex;
    background-color: white;
    color: #253439 !important;
}

#contact .profile .buttons a:hover{
    background-color: #423E3A;
    color: white !important;
}

.footer{
    background:#253439;
    text-align:center;
}
    
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:#7C898B;
}
    
.footer .row a{
    color:#7C898B;
    transition:0.5s;
}
    
.footer .row a:hover{
    color:#fff;
}
    
.footer .row ul{
    width:100%;
}
    
.footer .row ul li{
    display:inline-block;
}
    
.footer .row a i{
    margin:0% 1%;
}

@media (min-width:1400px){
    
        body{
            margin: 56px auto 0 auto;
        }
        
        #home{
            border-top: 14px solid #7C898B;
            border-bottom: 14px solid #7C898B;
        }
        
        .profile{
            width: 280px;
            margin-left: 179.2px;
            padding-top: 42px;
            padding-bottom: 57.4px;
        }
        
        .profile img{
            border:.1vw solid #253439;
        }
        
        .profile h1{
            font-size: 38.5px;
            margin: 35px 0 14px 0;
        }
        
        .profile h2{
            font-size: 23.52px;
            margin: 0 0 42px 0;
        }
        
        #home .buttons{
            gap: 4.2px;
        }
        
        .buttons a{
            width: 100%;
            border-radius: 4px;
            font-size: 14px;
            padding: 9.8px;
            border:2.8px solid #253439;
        }
        
        .buttons a:hover{
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        }
        
        #home .about{
            margin: 0 0 0 301px;
            width: 504px;
        }
        
        h3{
            font-size: 44.8px;
        }
        
        #home .about p{
            font-size: 16.8px;
        }
        
        #home .about .buttons a{
            width: 196px;
            margin: 7px 0 0 0;
        }
        
        #resume{
            border-bottom: 14px solid #7C898B;
            padding: 40.6px 43.4px 54.6px 43.4px;
        }
        
        #resume .xp{
            width: 714px;
        }
        
        h4{
            font-size: 19.6px;
            letter-spacing: 1.26px;
            padding: 43.4px 0 0 1.4px;
        }
        
        #resume p{
            font-size: 18.2px;
            padding: 9.8px 0 0 2.8px;
        }
        
        #resume ul{
            margin:14px 0 0 0;
            padding: 0 0 0 37.8px;
            font-size: 18.2px;
        }
        
        #portfolio{
            border-bottom: 14px solid #7C898B;
            padding: 0 21px;
        }
        
        h5{
            font-size: 56px;
            padding: 28px 0 42px 0;
        }
        
        #portfolio .proj{
            flex-wrap: wrap;
            gap: 42px;
            justify-content: center;
        }
        
        #portfolio .proj .project{
            margin: 0 0 42px 0;
            text-align: center;
            width: 588px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px .7px 14px;
        }
        
        #portfolio .proj div img{
            border-bottom: 1.4px solid #7C898B;
            width: 588px;
            height: 392px;
        }
        
        h6{
            font-size: 21px;
            letter-spacing: 1.26px;
            padding: 4.2px 0 0 0;
        }
        
        #portfolio p{
            color: white;
            font-size:14px;
            margin: 7px 21px 25.2px 21px;
        }
        
        #portfolio .buttons{
            margin-bottom: 23.8px;
        }
        
        #contact{
            padding: 42px 98px;
            border-bottom:14px solid #7C898B;
        }
        
        #contact .h7{
            font-size: 98px;
            margin: 0 0 0.6em 0;
        }
        
        #contact h4{
            margin-bottom: 1.3em;
        }
        
        #contact .contactInfo{
            align-items: center;
            justify-content: space-between;
        }
        
        #contact .contactInfo .info{
            font-size:14px;
            margin-bottom: 1.5em;
        }
        
        #contact div .profile{
            flex-direction: column;
            align-items: center;
            width: 420px;
        }
        
        #contact .profile img{
            width: 252px;
            margin-bottom: 1rem;
        }
        
        #contact .profile .buttons a{
            align-items: center;
            justify-content: center;
            gap: .5rem;
            border: 3px solid #253439;
            font-size: 16.8px;
            margin: 0 0 .1em 0;
            padding:14px 0;
            width: 420px;
            border-radius: .5em;
        }
        
        #contact .profile .buttons a:hover{
            border: 3px solid white;
        }
        
        .footer{
            padding:30px 0px;
        }
            
        .footer .row{
            font-size:0.8em;
        }
            
        .footer .row ul li{
            margin:0px 30px;
        }
            
        .footer .row a i{
            font-size:2em;
            margin:0% 1%;
        }
}
    
@media (min-width:1025px) and (max-width:1400px){
    body{
        margin: 0;
    }
    
    #home{
        border-top: 1vw solid #7C898B;
        border-bottom: 1vw solid #7C898B;
    }
    
    .profile{
        width: 20vw;
        margin-left: 12.8vw;
        padding-top: 3vw;
        padding-bottom: 4.1vw;
    }
    
    .profile h1{
        font-size: 2.75vw;
        margin: 2.5vw 0 1vw 0;
    }
    
    .profile h2{
        font-size: 1.68vw;
        margin: 0 0 3vw 0;
    }
    
    #home .buttons{
        gap: 0.3vw;
    }
    
    .buttons a{
        font-size: 1vw;
        padding: .7vw;
        border:0.2vw solid #253439;
    }
    
    #home .about{
        margin: 0 0 0 21vw;
        width: 36vw;
    }
    
    h3{
        font-size: 3.2vw;
    }
    
    #home .about p{
        font-size: 1.2vw;
        text-align: justify;
        line-height: 1.5;
    }
    
    #home .about .buttons a{
        width: 14vw;
        margin: 0.5vw 0 0 0;
    }
    
    #resume{
        border-bottom: 1vw solid #7C898B;
        padding: 2.9vw 3.1vw 3.9vw 3.1vw;
    }
    
    #resume .xp{
        width: 51vw;
    }
    
    h4{
        font-size: 1.4vw;
        letter-spacing: .09vw;
        padding: 3.1vw 0 0 0.1vw;
    }
    
    #resume p{
        font-size: 1.3vw;
        padding: 0.7vw 0 0 0.2vw;
    }
    
    #resume ul{
        margin:1vw 0 0 0;
        padding: 0 0 0 2.7vw;
        font-size: 1.3vw;
        line-height: 2vw;
    }
    
    #portfolio{
        border-bottom: 1vw solid #7C898B;
        padding: 2vw 1.5vw;
    }
    
    h5{
        font-size: 4vw;
        padding: 0 0 3vw 0;
    }
    
    #portfolio .proj{
        gap: 3vw;
    }
    
    #portfolio .proj .project{
        margin: 0 0 3vw 0;
        width: 42vw;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        box-shadow: rgba(0, 0, 0, 0.24) 0px .5vw 1vw;
    }
    
    #portfolio .proj div img{
        border-bottom: 0.1vw solid #7C898B;
        width: 42vw;
        height: 28vw;
    }
    
    h6{
        font-size: 1.5vw;
        letter-spacing: .09vw;
        padding: .3vw 0 0 0;
    }
    
    #portfolio p{
        font-size: 1vw;
        margin:0.5vw 1.5vw 1.8vw 1.5vw;
    }
    
    #portfolio .buttons{
        margin-bottom: 1.7vw;
    }
    
    #contact{
        padding: 4vw 7vw;
        border-bottom: 1vw solid #7C898B;
    }
    
    #contact .h7{
        font-size: 7vw;
        margin: 0 0 0.6em 0;
    }
    
    #contact h4{
        margin-bottom: 1.3em;
    }
    
    #contact .contactInfo{
        align-items: center;
        justify-content: space-between;
    }
    
    #contact .contactInfo .info{
        font-size: 1vw;
        margin-bottom: 1.5em;
    }
    
    #contact div .profile{
        flex-direction: column;
        align-items: center;
        width: 30vw;
    }
    
    #contact .profile img{
        width: 18vw;
        margin-bottom: 1rem;
    }
    
    #contact .profile .buttons a{
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border: .31vw solid #253439;
        font-size: 1.2vw;
        margin: 0 0 .1em 0;
        padding: 1vw 0;
        width: 30vw;
        border-radius: .5em;
    }
    
    #contact .profile .buttons a:hover{
        border: .31vw solid white;
    }
    
    .footer{
        padding:2vw 0px;
    }
        
    .footer .row{
        font-size:1vw;
    }
        
    .footer .row a:hover{
        color:#fff;
    }
        
    .footer .row ul li{
        margin:0px 2vw;
    }
        
    .footer .row a i{
        font-size:2vw;
    }
}   

@media (min-width:641px) and (max-width:1025px){
    body{
        margin: 0;
    }
    
    #home{
        border-top: 1vw solid #7C898B;
        border-bottom: 1vw solid #7C898B;
    }
    
    .profile{
        width: 22vw;
        margin-left: 10.8vw;
        padding-top: 2vw;
        padding-bottom: 2.5vw;
    }
    
    .profile h1{
        font-size: 3vw;
        margin: 2.5vw 0 1.3vw 0;
    }
    
    .profile h2{
        font-size: 1.8vw;
        margin: 0 0 3vw 0;
    }
    
    #home .buttons{
        gap: 0.5vw;
    }
    
    .buttons a{
        font-size: 1.2vw;
        padding: .8vw;
    }
    
    #home .about{
        margin: 0 0 0 21vw;
        width: 36vw;
    }
    
    h3{
        font-size: 3.5vw;
    }
    
    #home .about p{
        font-size: 1.5vw;
        text-align: justify;
        line-height: 1.5;
    }
    
    #home .about .buttons a{
        width: 14.5vw;
        margin: 0.5vw 0 0 0;
    }
    
    #resume{
        border-bottom: 1vw solid #7C898B;
        padding: 2.9vw 3.1vw 3.9vw 3.1vw;
    }
    
    #resume .xp{
        width: 51vw;
    }
    
    h4{
        font-size: 1.8vw;
        letter-spacing: .09vw;
        padding: 3.1vw 0 0 0.1vw;
    }
    
    #resume p{
        font-size: 1.6vw;
        padding: 0.7vw 0 0 0.2vw;
    }
    
    #resume ul{
        margin:1vw 0 0 0;
        padding: 0 0 0 2.7vw;
        font-size: 1.6vw;
        line-height: 2vw;
    }
    
    #portfolio{
        border-bottom: 1vw solid #7C898B;
        padding: 2vw 1.5vw;
    }
    
    h5{
        font-size: 4.5vw;
        padding: 0 0 3vw 0;
    }
    
    #portfolio .proj{
        gap: 3vw;
    }
    
    #portfolio .proj .project{
        margin: 0 0 3vw 0;
        width: 42vw;
        border-bottom-left-radius: 10vw;
        border-bottom-right-radius: 10vw;
        box-shadow: rgba(0, 0, 0, 0.24) 0px .5vw 1vw;
    }
    
    #portfolio .proj div img{
        border-bottom: 0.1vw solid #7C898B;
        width: 42vw;
        height: 28vw;
    }
    
    h6{
        font-size: 1.8vw;
        letter-spacing: .09vw;
        padding: .3vw 0 0 0;
    }
    
    #portfolio p{
        font-size: 1.45vw;
        margin:0.5vw 1.5vw 1.8vw 1.5vw;
    }
    
    #portfolio .buttons{
        margin-bottom: 1.7vw;
    }

    #portfolio .buttons a{
        border:0.2vw solid white;
    }

    .buttons a:hover{
        background-color: white;
        color: #253439 !important;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    }
    
    #contact{
        padding: 4vw 7vw;
        border-bottom: 1vw solid #7C898B;
    }
    
    #contact .h7{
        font-size: 7vw;
        margin: 0 0 0.6em 0;
    }
    
    #contact h4{
        margin-bottom: 1.3em;
    }
    
    #contact .contactInfo{
        align-items: center;
        justify-content: space-between;
    }
    
    #contact .contactInfo .info{
        font-size: 1.5vw;
        margin-bottom: 1.5em;
    }
    
    #contact div .profile{
        flex-direction: column;
        align-items: center;
        width: 30vw;
    }
    
    #contact .profile img{
        width: 18vw;
        margin-bottom: 1rem;
    }
    
    #contact .profile .buttons a{
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border: .31vw solid #253439;
        font-size: 1.5vw;
        margin: 0 0 .1em 0;
        padding: 1vw 0;
        width: 36vw;
        border-radius: .5em;
    }
    
    #contact .profile .buttons a:hover{
        border: .31vw solid white;
    }
    
    .footer{
        padding:2vw 0px;
    }
        
    .footer .row{
        font-size:1.5vw;
    }
        
    .footer .row a:hover{
        color:#fff;
    }
        
    .footer .row ul li{
        margin:0px 2vw;
    }
        
    .footer .row a i{
        font-size:3vw;
    }
}    
